<!-- <app-textinput
  [label]="'Email'"
  [placeholder]="'Ex. kuldeep@insonix.com'"
  [type]="'email'"
  name="Email"
  appearance="outline"
  [value]="email"
  [validationMessages]="{
    required: 'Email is required',
    email: 'Please enter a valid email address'
  }"
  [required]="true"
  [disabled]="false"
  [readonly]="false"
  (valueChanged)="onEmailChange($event)">
  
</app-textinput> -->
<!-- 
<app-textinput
  [label]="'Name'"
  [placeholder]="'Ex. Kuldeep'"
  [type]="'text'"
  [value]="name"
  name="name"
  [validationMessages]="{
    required: 'Name is required',
  }"
  [required]="true"
  [disabled]="false"
  [readonly]="false"
  (valueChanged)="onEmailChange($event)">
</app-textinput>


<app-textinput
  [label]="'mobile no.'"
  [placeholder]="'Ex. 9855171787'"
  [type]="'number'"
  [value]="name"
  name="name"
  [required]="false"
  [disabled]="false"
  [readonly]="false"
  (valueChanged)="onEmailChange($event)">
</app-textinput>



<app-selectinput
  [label]="'title'"
  [placeholder]="'mr'"
  [value]="title"
  name="title"
  [options]="PERSON_TITLES_OPTIONS"
  (valueChanged)="onEmailChange($event)">
</app-selectinput>


<app-radioinput
  [label]="'title'"
  [value]="title"
  name="title"
  [disabled]="true"
  [options]="PERSON_TITLES_OPTIONS"
  (valueChanged)="onEmailChange($event)">
</app-radioinput> -->

<app-auth>

</app-auth>